<div class="layout">

  <div class="sidebar">

    <div class="logo">
      PrevDengue
    </div>
    <div class="menu">

      <a routerLink="/dashboard"> Dashboard </a>
      <a routerLink="/reportes"> Reportes </a>
      <a routerLink="/alertas"> Alertas </a>
      <a routerLink="/campanias"> Campañas </a>
      <a routerLink="/usuarios"> Usuarios </a>
    </div>

  </div>

  <div class="main">

    <div class="navbar">

      <div>
        Sistema PrevDengue
      </div>

      <div>
        Administrador
      </div>

    </div>

    <div class="content">

      <router-outlet></router-outlet>

    </div>

  </div>

</div>